<div class="row">
  <div class="col-xs-12">
    <!-- <form> -->
      <div [formGroup]="formGroup" class="row">
        <div class="col-sm-5 form-group">
          <label for="itemName">Name</label>
          <input
          type="text"
          id="itemName"
          class="form-control"
          formControlName="name"
          >
        </div>
        <div class="col-sm-5 form-group">
          <label for="itemAmount">Anzahl</label>
          <input
          type="text"
          id="itemAmount"
          class="form-control"
          formControlName="amount"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" (click)="onSubmit()" class="btn btn-success">Speichern</button>
          <button type="button" (click)="onDelete()" class="btn btn-danger" [disabled]="isAdd">Löschen</button>
          <button type="button" (click)="onClear()" class="btn btn-primary">Zurücksetzen</button>
        </div>
      </div>
    <!-- </form> -->
  </div>
</div>